.user-card {
    height: 220px;
    width: 440px;
    padding: 25px 0;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #FBDCE2;
    color: #FF9FB2;
    border: 1px solid #0ACDFF;
    padding: 20px;
    margin-right: 50px;
}

.choice-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.nameStyle {
    text-shadow: 1.5px 1.5px #E18698;
}

.victoryText {
    text-align: center;
}